<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538967978009-sv87jtnun634gtkao7138a4knm7df75e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538967978009-sv87jtnun634gtkao7138a4knm7df75e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>538967978009-psvhcb0rpefpe8uc0bol98bghu7fj4t7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-H7y7Z0i5Nd0qTFj9evmus6QAQcrAjBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>538967978009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ascari.frienderr</string>
	<key>PROJECT_ID</key>
	<string>frienderr-b634b</string>
	<key>STORAGE_BUCKET</key>
	<string>frienderr-b634b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538967978009:ios:a4847fb29ff6b1e3dc3a88</string>
</dict>
</plist>